body{
          barMargin: 0;
        }

        

        Svg .myrect {
            fill: #41c4f4;
            stroke-width: 0px;
        }
        Svg .myrect:hover {
            fill: #f47141;
        }
		Svg {
          border: 1px solid rgb(207, 205, 205)
        }
        .all-states {
          fill: none;
        }

        .state:hover {
          fill: #f4415b;
        }

        .state-border {
          fill: none;
          stroke: #160b0b;
          stroke-linejoin: round;
        }
